<!DOCTYPE html>
<html>
    <head>
        <title>NearBy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <script type="text/javascript">
            function initAutoComplete() {
                    var input = document.getElementById('searchTextField');
                    var autocomplete = new google.maps.places.Autocomplete(input);
            }
        
        window.onload = getLocation;
        
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else { 
                //document.getElementById("nearby_btn").style.display="none";
            }
            
            <% if (rest_name) { %>
                var form_rest_name = document.getElementsByName("restaurant_name");
                form_rest_name[0].value = "<%= rest_name %>";
            <% } %>
            
            <% if (loca_name) { %>
                var form_loca_name = document.getElementById("searchTextField");
                form_loca_name.value = "<%= loca_name %>";
            <% } %>
        }
        
        function showPosition(position) {
            var lat = document.getElementsByName("latitude");
            lat[0].value = position.coords.latitude;
            
            var long = document.getElementsByName("longitude");
            long[0].value = position.coords.longitude;
            
            // set geo tag
            var geo = document.getElementsByName("geo");
            if (geo[0].value == -1) geo[0].value = 0;
            
            document.getElementById("nearby_btn").style.display="inline";
        }
        
        function showError(error) {
            document.getElementById("nearby_btn").style.display="none";
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    //x.innerHTML = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    //x.innerHTML = "Location information is unavailable."
                    break;
            }
        }
        
        function Clicked() {
            var geo = document.getElementsByName("geo");
            if (geo[0].value == '0') geo[0].value = '1';
        }
        
        function get_shuffle_arr(list_length) {
            var idx_arr = [];
            for (var i = 0; i < list_length; i++) {
              idx_arr.push(i);
            }
            //console.log(idx_arr);
            
            var j, x, i;
            for (i = list_length; i; i--) {
                j = Math.floor(Math.random() * i);
                x = idx_arr[i - 1];
                idx_arr[i - 1] = idx_arr[j];
                idx_arr[j] = x;
            }
            //console.log(idx_arr);
            
            return idx_arr;
        }
        
        var rnd_idx_list;
        var curr_idx;
        var restaurant_parts;
        
        function shuffle_list() {
            restaurant_parts = document.getElementsByClassName("part_single_restaur");
            rnd_idx_list = get_shuffle_arr(restaurant_parts.length);
            curr_idx = 0;
            restaurant_parts[rnd_idx_list[curr_idx]].style.display="inline";
            
            var all_list_map = document.getElementById("result_list_display");
            all_list_map.style.display="none";
            
            var part_list_map = document.getElementById("result_part_display");
            part_list_map.style.display="inline";
            
            var show_all = document.getElementById("show_all");
            show_all.style.display="inline";
            
            var rnd_find = document.getElementById("random_find");
            rnd_find.style.display="none";
        }
        
        function shuffle_back() {
            restaurant_parts[rnd_idx_list[curr_idx]].style.display="none";
            
            var all_list_map = document.getElementById("result_list_display");
            all_list_map.style.display="inline";
            
            var part_list_map = document.getElementById("result_part_display");
            part_list_map.style.display="none";
            
            var rnd_find = document.getElementById("random_find");
            rnd_find.style.display="inline";
            
            var show_all = document.getElementById("show_all");
            show_all.style.display="none";
        }
        </script>
    
    </head>
    <body>
        <div id="nav_header">
            
        <nav class="navbar navbar-default">
            <form id="search_form" action="/restaurants" method="GET" class="form-inline input-group-lg">
                <input type="hidden" name="latitude" placeholder="latitude" value="40.110441">
                <input type="hidden" name="longitude" placeholder="longitude" value="-88.229064">
                <input type="hidden" name="geo" value="-1">
                
                    <span class="search_form_line">
                        Find             
                    <input type="text" class="form-control" name="restaurant_name" placeholder=" restaurant">
                    </span> 
                    
                    <span class="search_form_line">
                        Near
                    <input id="searchTextField" name="location_name" type="text" class="form-control" placeholder=" i.e. Champaign, IL">
                    </span>
                    
                <button type="submit" class="btn btn-default">Search</button>
                <button style="display: none;" onclick="Clicked();" id="nearby_btn" type="submit" class="btn btn-default">Or Just Nearby</button>
                <button onclick="shuffle_list();" id="random_find" type="button" class="btn btn-default">Random Find!</button>
                <button style="display: none;" onclick="shuffle_back();" id="show_all" type="button" class="btn btn-default">Show All!</button>
            </form>
        </nav>
        
        </div>