<% include partials/header %>

<script>

function initMap() {

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 3,
    center: {lat: -28.024, lng: 140.887}
  });
  
  console.log("great!");
  <% restaurants["businesses"].forEach(function(restaurant) { %>
          console.log("<%= restaurant["name"] %>");
  <% }) %> 
}

  
  
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOBevkDWetQuaXUUlRZFGgkSdYrlDUuhk&callback=initMap">
</script>

<div id="result_list_display" >
    <h1>Restaurant Results</h1>
    
    <% restaurants["businesses"].forEach(function(restaurant) { %>
      <li>
          <%= restaurant["name"] %>
      </li>
    <% }) %>  
</div>



<div id="map_half">
  <div id="map"></div>     
</div>


<% include partials/footer %>