/* #d2ece1
   #ffd3b5
   #ffc6aa
   #ff8c94
   #a8e6ce */
   

html {
    /* credit to uiGradients */
    height: 100%;
    background: #50C9C3;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, 0 100%, 0 0, from(#96DEDA), to(#50C9C3));
    background: -webkit-linear-gradient(#96DEDA, #50C9C3);
    background: -moz-linear-gradient(#96DEDA, #50C9C3);
    background: -o-linear-gradient(#96DEDA, #50C9C3);
    background: linear-gradient(#96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    background-color: transparent;
}

#home_search {
    margin-left: 3em;
    /*margin-top: 50%;*/
    margin-top: 17em;
    background-color: transparent;
}

#home_search h1 {
    /*font-size: 10em;*/
    font-size: 9.0vh;
    color: #ffd3b5;
}

#search_form {

}