/* #d2ece1
   #ffd3b5
   #ffc6aa
   #ff8c94
   #a8e6ce */
   

html {
    /* credit to uiGradients */
    height: 100%;
    margin: 0;
    padding: 0;
    background: #50C9C3;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, 0 100%, 0 0, from(#96DEDA), to(#50C9C3));
    background: -webkit-linear-gradient(#96DEDA, #50C9C3);
    background: -moz-linear-gradient(#96DEDA, #50C9C3);
    background: -o-linear-gradient(#96DEDA, #50C9C3);
    background: linear-gradient(#96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#nav_header {
  height: 8%;
}

#list_and_map {
  height: 92%;
}

#home_search {
    margin-left: 3em;
    /*margin-top: 50%;*/
    margin-top: 17em;
    background-color: transparent;
}

#home_search h1 {
    font-size: 9.0vh;
    color: #ffd3b5;
}

#map {
  height: 100%;
  width: 100%
}

#map_half {
    float: right;
    height: 100%;
    width: 50%;
}

#result_list_display {
    float: left;
    height: 100%;
    width: 50%;
    overflow: scroll;
}

#result_part_display {
    float: left;
    height: 100%;
    width: 50%;
    overflow: scroll;
}

#part_display_header {
    height: 5%;
    text-align: center;
}
  
.single_restaur {
    height: 20em;
    float: left;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

.part_single_restaur {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    float: left;
}

.navbar-default {
  height: 3.5em;
  font-size: 1.1em;
  margin-bottom: 0;
}

.list_container {
    margin-left: 10px;
    margin-right: 10px;
}

.restaur_img_block {
    height: 70%;
    overflow: hidden;
}

.part_restaur_img_block {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#part_header_tag {
  font-size: 2.5em;
}

#part_header_prev {
  font-size: 2em;
}

#part_header_next {
  font-size: 2em;
}

#part_header_prev:hover {
  text-decoration: underline;
  cursor: pointer;
}

#part_header_next:hover {
  text-decoration: underline;
  cursor: pointer;
}

.part_info {
  text-align: center;
  font-size: 1.2em;
}

.single_restaur img {
    min-height: 100%;
    width: 100%;
}

.single_restaur .restaur_name {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.part_single_restaur .part_restaur_name {
    font-size: 2em;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.single_restaur .label-primary {
    font-size: 85%;
}

@media only screen 
  and (max-device-width: 800px)
  and (orientation: portrait) {
    
    #nav_header {
      height: 15%;
    }
    
    #list_and_map {
      height: 85%;
    }
    
    #map_half {
      visibility: hidden;
    }
    
    #result_list_display {
    float: left;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    }
  
    .single_restaur {
      height: 50em;
      float: left;
      width: 100%;
      padding-left: 2%;
      padding-right: 2%;
    }
    
}

@media only screen 
  and (max-device-width: 800px)
  and (orientation: landscape) {
    
    #map_half {
      visibility: hidden;
    }
    
    #result_list_display {
    float: left;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    }
  
    .single_restaur {
      height: 50em;
      float: left;
      width: 50%;
      padding-left: 2%;
      padding-right: 2%;
    }
    
    .navbar {
      height: 3em;
      font-size: 2em;
    }
    
}